@font-face {
  font-family: "Career";
  src: url(../assets/fonts/career.ttf); }
@font-face {
  font-family: "Inter";
  src: url(../assets/fonts/Inter-Bold.ttf); }
@font-face {
  font-family: "Inter";
  src: url(../assets/fonts/Inter-Bold.ttf); }
@font-face {
  font-family: "Inter Regular";
  src: url(./assets/fonts/Inter-Regular.ttf); }
@font-face {
  font-family: "Inter Medium";
  src: url(./assets/fonts/Inter-Medium.ttf); }
.estilo-proyectos-imagenes, .proyectos .youtube .imagen-youtube, .proyectos .spotify .imagen-spotify {
  width: 100%;
  border-radius: 25px;
  transform: scale(0.8, 0.8);
  transition: 1s; }

body {
  background-image: linear-gradient(#ffffffb3, #F5EDF0, #D1CCDC, #4a4063); }

header {
  display: grid;
  position: sticky;
  top: 0px;
  z-index: 1;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.702); }
  header nav a:hover {
    color: #baa8dd; }
  header ul {
    padding: 30px;
    font-size: 18px;
    text-align: right; }
  header nav li {
    display: inline; }
  header li a {
    font-family: "Inter";
    font-weight: bold;
    margin-top: auto;
    color: #825ab3;
    text-align: right;
    font-size: 100%;
    padding: 8px; }
  header a {
    text-decoration: none;
    color: #3a1f5b;
    font-family: "Inter"; }

footer {
  color: #825ab3;
  background-color: #d1cbdc;
  border-radius: 25px; }
  footer .contacto-footer h3 {
    font-family: "Inter";
    font-weight: bold;
    margin-top: 5%;
    color: #825ab3;
    text-align: left;
    font-size: 125%; }
  footer .contacto-footer h4 {
    font-family: "Inter";
    font-weight: none;
    margin-top: 0%;
    color: #3a1f5b;
    text-align: left;
    font-size: 115%;
    margin: 0%; }
    footer .contacto-footer h4 a {
      font-family: "Inter";
      font-weight: none;
      margin-top: 0%;
      color: #3a1f5b;
      text-align: left;
      font-size: 90%;
      text-decoration: none; }
  footer .lista-footer ul {
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: right; }
    footer .lista-footer ul li {
      display: inline; }
      footer .lista-footer ul li a {
        text-decoration: none; }
  footer .lista-footer img {
    width: 8%; }
  footer .lista-footer #imagen-youtube-footer {
    width: 7%; }
  footer .lista-footer #imagen-spotify-footer {
    width: 7.5%; }

.inicio .col-md-5 .img-fluid {
  margin: auto;
  display: block;
  width: 70%;
  border-radius: 25px; }
.inicio #titulo-inicio h1, .inicio #titulo-inicio .sobre-mi h3, .sobre-mi .inicio #titulo-inicio h3 {
  font-family: "Career";
  font-weight: bold;
  margin-top: 5%;
  color: #825ab3;
  text-align: left;
  font-size: 225%; }
.inicio .subtitulo {
  font-family: "Career";
  font-weight: bold;
  margin-top: 0%;
  color: #825ab3;
  text-align: left;
  font-size: 125%; }
.inicio .descripcion {
  margin-top: 5%;
  margin-bottom: 5%; }
  .inicio .descripcion h3 {
    font-family: "Inter Medium";
    font-weight: bold;
    margin-top: none;
    color: #483c69;
    text-align: left;
    font-size: auto;
    text-align: justify; }

.seccion1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  text-align: center;
  margin-top: 10px; }
  .seccion1 #terapiaimagen {
    align-self: end;
    justify-self: end;
    width: 90%;
    margin-top: 10%;
    border-radius: 25px; }

.descripcion #servicios {
  margin-top: 10%;
  margin-bottom: 10%; }
  .descripcion #servicios h1, .descripcion #servicios .sobre-mi h3, .sobre-mi .descripcion #servicios h3 {
    font-family: "Inter";
    font-weight: none;
    margin-top: auto;
    color: #825ab3;
    text-align: left;
    font-size: 180%; }
  .descripcion #servicios h3 {
    font-family: "Inter Medium";
    font-weight: bold;
    margin-top: none;
    color: #716a82;
    text-align: left;
    font-size: 150%;
    text-align: justify; }
  .descripcion #servicios h4 {
    font-family: "Inter Regular";
    font-weight: bold;
    margin-top: none;
    color: #432769;
    text-align: right;
    font-size: 125%; }

.agenda-cita {
  display: flex;
  flex-direction: column;
  justify-self: center; }
  .agenda-cita .button, .agenda-cita .pagina-citas .formulario .agenda-cita, .pagina-citas .formulario .agenda-cita .agenda-cita {
    font-family: "Inter";
    font-weight: none;
    margin-top: auto;
    color: #4a4063;
    text-align: center;
    font-size: 100%;
    background-color: #D1CCDC;
    padding: 10px 32px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 7px;
    transition: 1s; }
    .agenda-cita .button:hover, .agenda-cita .pagina-citas .formulario .agenda-cita:hover, .pagina-citas .formulario .agenda-cita .agenda-cita:hover {
      transform: scale(0.9, 0.9); }

.proyectos h1, .proyectos .sobre-mi h3, .sobre-mi .proyectos h3 {
  font-family: "Career";
  font-weight: none;
  margin-top: auto;
  color: #583484;
  text-align: center;
  font-size: 200%;
  display: flex;
  flex-direction: column-reverse;
  justify-self: center; }
.proyectos .youtube {
  width: 500px;
  height: 500px; }
  .proyectos .youtube .imagen-youtube:hover {
    transform: scale(0.9, 0.9); }
.proyectos .texto-youtube h2 {
  font-family: "Inter Medium";
  font-weight: bold;
  margin-top: 5%;
  color: #716a82;
  text-align: left;
  font-size: 150%;
  text-align: justify;
  margin-bottom: 10%; }
.proyectos .spotify {
  width: 500px;
  height: 500px; }
  .proyectos .spotify .imagen-spotify:hover {
    transform: scale(0.9, 0.9); }
.proyectos .texto-spotify h2 {
  font-family: "Inter Medium";
  font-weight: bold;
  margin-top: 5%;
  color: #716a82;
  text-align: right;
  font-size: 150%;
  width: 100%; }

.sobre-mi h1, .sobre-mi h3 {
  font-family: "Career";
  font-weight: none;
  margin-top: auto;
  color: #825ab3;
  text-align: center;
  font-size: 180%; }
.sobre-mi .sobre-mi-descripcion h3 {
  font-family: "Inter Medium";
  font-weight: bold;
  margin-top: 5%;
  color: #4f446d;
  text-align: center;
  font-size: 150%;
  text-align: justify;
  margin-bottom: 5%; }
.sobre-mi .sobre-mi-descripcion .lista-estudios ul {
  text-align: left;
  color: #4f446d; }
  .sobre-mi .sobre-mi-descripcion .lista-estudios ul li {
    text-align: left;
    font-size: 115%; }
.sobre-mi .sobre-mi-descripcion .lista-estudios .nested-list li {
  font-size: 90%;
  text-align: justify; }
.sobre-mi .agenda-cita {
  display: flex;
  flex-direction: column; }

.pagina-citas #titulo-citas h1, .pagina-citas #titulo-citas .sobre-mi h3, .sobre-mi .pagina-citas #titulo-citas h3 {
  font-family: "Career";
  font-weight: none;
  margin-top: auto;
  color: #3a1f5b;
  text-align: center;
  font-size: 200%; }
.pagina-citas .formulario {
  font-family: "Career";
  font-weight: none;
  margin-top: 5%;
  color: #702b92;
  text-align: center;
  font-size: 130%;
  margin-bottom: 5%; }
  .pagina-citas .formulario h2 {
    display: flex;
    flex-direction: column;
    align-self: center; }
  .pagina-citas .formulario span.taller, .pagina-citas .formulario span.tradicional {
    font-family: "Inter";
    font-size: 80%;
    align-self: center; }
  .pagina-citas .formulario .agenda-cita:hover {
    transform: scale(0.9, 0.9); }
  .pagina-citas .formulario #horario {
    font-family: "Inter";
    font-weight: none;
    margin-top: auto;
    color: #4a4063;
    text-align: center;
    font-size: 100%;
    background-color: #f5f3f8;
    padding: 10px 32px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer; }
  .pagina-citas .formulario #mensaje {
    width: 200px;
    height: 100px; }

/*# sourceMappingURL=main.css.map */
