@font-face {
  font-family: "Career";
  src: url(../assets/fonts/career.ttf); }
@font-face {
  font-family: "Inter";
  src: url(../assets/fonts/Inter-Bold.ttf); }
@font-face {
  font-family: "Inter";
  src: url(../assets/fonts/Inter-Bold.ttf); }
@font-face {
  font-family: "Inter Regular";
  src: url(./assets/fonts/Inter-Regular.ttf); }
@font-face {
  font-family: "Inter Medium";
  src: url(./assets/fonts/Inter-Medium.ttf); }
body {
  background-image: linear-gradient(#ffffffb3, #F5EDF0, #D1CCDC, #4A4063); }

header {
  display: grid;
  position: sticky;
  top: 0px;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 5;
  background-color: #ffffffb3; }
  header nav a:hover {
    color: #baa8dd; }
  header ul {
    list-style-type: none;
    padding: 30px;
    font-size: 18px;
    text-align: right; }
  header nav li {
    display: inline; }
  header li a {
    padding: 8px;
    color: #825ab3;
    font-weight: bold;
    font-family: "Inter"; }
  header a {
    text-decoration: none;
    color: #3a1f5b;
    font-family: "Inter"; }

footer {
  color: #825ab3;
  background-color: #d1cbdc;
  border-radius: 25px; }
  footer .contacto-footer h3 {
    text-align: left;
    font-family: "Inter";
    font-weight: bold;
    margin-top: 5%;
    font-size: 125%; }
  footer .contacto-footer h4 {
    margin: 0%;
    font-family: "Inter";
    color: #3a1f5b;
    font-size: 125%; }
  footer footer li {
    display: inline; }
  footer footer ul {
    text-align: right; }
  footer footer img {
    width: 8%; }
  footer #imagen-youtube-footer {
    width: 7%; }
  footer #imagen-spotify-footer {
    width: 7.5%; }

.inicio .col-md-5 .img-fluid {
  margin: auto;
  display: block;
  width: 70%;
  border-radius: 25px; }
.inicio #titulo-inicio h1 {
  font-family: "Career";
  font-weight: bold;
  margin-top: 5%;
  color: #825ab3;
  text-align: left;
  font-size: 225%; }
  .inicio #titulo-inicio h1 #subtitulo {
    text-align: left;
    text-align: justify;
    font-family: "Career";
    font-weight: bold;
    color: #825ab3; }
.inicio .descripcion {
  margin-top: 5%;
  margin-bottom: 5%; }
  .inicio .descripcion #descripcion h3 {
    text-align: left;
    text-align: justify;
    font-family: "Inter Medium";
    color: #483c69;
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: 5%; }

.seccion1 div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  text-align: center;
  margin-top: 10px; }
  .seccion1 div #terapiaimagen {
    align-self: end;
    justify-self: end;
    width: 100%;
    margin-top: 10%;
    border-radius: 25px; }

#servicios h1 {
  font-family: "Inter";
  color: #825ab3;
  text-align: left;
  font-size: 180%; }
  #servicios h1 #servicios h3 {
    color: #716A82;
    text-align: left;
    text-align: justify;
    font-family: "Inter Medium";
    font-weight: bold;
    font-size: 150%; }
  #servicios h1 #servicios h4 {
    color: #432769;
    text-align: right;
    font-family: "Inter Regular";
    font-weight: bold;
    font-size: 125%; }

.button {
  background-color: #D1CCDC;
  color: #4A4063;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  font-family: "Inter";
  border-radius: 7px; }

.proyectos h1 {
  display: flex;
  flex-direction: column-reverse;
  justify-self: center;
  text-align: center;
  color: #583484;
  font-family: "Career";
  font-size: 200%; }
.proyectos .youtube {
  width: 500px;
  height: 500px; }
  .proyectos .youtube #imagen-youtube {
    width: 100%;
    border-radius: 25px; }
  .proyectos .youtube .texto-youtube h2 {
    margin-top: 5%;
    color: #716A82;
    text-align: left;
    text-align: justify;
    font-weight: bold;
    font-family: "Inter Medium";
    margin-bottom: 10%;
    font-size: 150%; }
.proyectos .spotify {
  width: 500px;
  height: 500px; }
  .proyectos .spotify #imagen-spotify {
    width: 100%;
    margin-top: 10%;
    border-radius: 25px; }
  .proyectos .spotify .texto-spotify h2 {
    margin-top: 5%;
    color: #716A82;
    text-align: right;
    font-weight: bold;
    font-family: "Inter Medium";
    font-size: 150%;
    width: 500px; }

.sobre-mi-descripcion .sobre-mi h1 {
  color: #825ab3;
  font-family: "Career";
  margin: 0%;
  text-align: center; }
.sobre-mi-descripcion #subtitulo {
  text-align: center; }
.sobre-mi-descripcion h3 {
  text-align: center;
  text-align: justify;
  font-family: "Inter Medium";
  font-weight: bold;
  color: #4f446d;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 150%; }
.sobre-mi-descripcion .lista-estudios {
  text-align: left;
  color: #4f446d; }
.sobre-mi-descripcion .lista-estudios li {
  text-align: left;
  font-size: 150%; }
.sobre-mi-descripcion .nested-list {
  padding-top: 0%; }
.sobre-mi-descripcion .nested-list li {
  font-size: 125%; }
.sobre-mi-descripcion div .agenda-cita {
  display: flex;
  flex-direction: column; }

.pagina-citas #titulo-citas h1 {
  color: #583484;
  font-family: "Career";
  font-size: 200%;
  text-align: center; }
.pagina-citas .formulario {
  display: grid;
  grid-column-start: 3;
  grid-row-end: 4;
  text-align: center;
  font-family: "Career";
  font-size: 130%;
  color: #702b92;
  margin-bottom: 5%; }
  .pagina-citas .formulario h2 {
    display: flex;
    flex-direction: column;
    align-self: center; }
  .pagina-citas .formulario span.taller {
    font-family: "Inter";
    font-size: 80%;
    background-color: white;
    border-radius: 5px;
    align-self: center;
    padding: 5%; }
  .pagina-citas .formulario span.tradicional {
    background-color: white;
    font-family: "Inter";
    font-size: 80%;
    border-radius: 5px;
    align-self: center;
    padding: 5%; }
  .pagina-citas .formulario #agendar {
    background-color: #D1CCDC;
    color: #4A4063;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    font-family: "Inter"; }
  .pagina-citas .formulario #horario {
    background-color: #f5f3f8;
    color: #4A4063;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    font-family: "Inter"; }
  .pagina-citas .formulario #mensaje {
    height: 100px;
    width: 200px; }

/*# sourceMappingURL=main.css.map */
