@import "fonts";

@import "colors";

@import "mixins";

@import "styletemplates";

body {
    background-image: linear-gradient(#ffffffb3,#F5EDF0, #D1CCDC, $colorBackgroundDark);
}


header {
    display: grid;
    position: sticky;
    top: 0px;
    z-index: 1;
    width: 100%;  
    background-color: $colorBackgroundLight;

    nav a:hover{
        color: $colorLightPurple;
    }

    ul {
        padding: 30px;
        font-size: 18px;
        text-align: right;
    }

    nav li {
        display: inline;
    }

    li a {
        @include estilo-texto("Inter", bold, auto, $colorPurple, right, 100%);
        padding: 8px;
    }

    a {
        text-decoration: none;
        color: $colorDarkPurple;
        font-family: "Inter";
    }

}

footer {
    color: $colorPurple;
    background-color: rgb(209, 203, 220);
    @include border-radius(25px);

    .contacto-footer{

        h3 {
            @include estilo-texto("Inter", bold, 5%, $colorPurple, left, 125%);
        }

        h4 {
            @include estilo-texto("Inter", none, 0%, $colorDarkPurple, left, 115%);
            margin: 0%;
            
            a {
                @include estilo-texto("Inter", none, 0%, $colorDarkPurple, left, 90%);
                text-decoration: none;
            }
        }
    }
    .lista-footer {

        ul {
            margin-top: 5%;
            margin-bottom: 5%;
            text-align: right;


            li {
            display: inline;

                a{
                    text-decoration: none;
                }
            }
        }

        img {
            width: 8%;

        } 

        #imagen-youtube-footer {
            width: 7%;

        }
        #imagen-spotify-footer {
            width: 7.5%;
        }
    }
}

.inicio {

    .col-md-5 .img-fluid {
        margin: auto;    
        display: block;
        width: 70%;
        @include border-radius(25px);

    }
    
    #titulo-inicio h1 {
        @include estilo-texto("Career", bold, 5%, $colorPurple, left, 225%);
    }

    .subtitulo {
        @include estilo-texto("Career", bold, 0%, $colorPurple, left, 125%);
    }

    .descripcion {
        margin-top: 5%;
        margin-bottom: 5%;

        h3 {
        @include estilo-texto("Inter Medium", bold, none, rgb(72, 60, 105), left, auto);
        text-align: justify;
        }
    }
}

.seccion1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin-top: 10px;

    #terapiaimagen {
        align-self: end;
        justify-self: end;
        width: 90%;
        margin-top: 10%;
        @include border-radius(25px);
    }
    
}

.descripcion {
    #servicios { 
        margin-top: 10%;
        margin-bottom: 10%;

        h1 {
        @include estilo-texto("Inter", none, auto, $colorPurple , left, 180%);
        }
        
        h3 {
            @include estilo-texto("Inter Medium", bold, none,rgb(113, 106, 130) , left, 150%);
            text-align: justify;
        }

        h4 {
            @include estilo-texto("Inter Regular", bold, none, rgb(67, 39, 105) , right, 125%);
        }
    }
}

.agenda-cita {
    display: flex;
    flex-direction: column;
    justify-self: center;
    
    .button {
        @include estilo-texto("Inter", none, auto, $colorBackgroundDark, center, 100%);
        background-color:#D1CCDC;
        padding: 10px 32px;
        text-decoration: none;
        display: inline-block;
        cursor: pointer;
        @include border-radius(7px);
        transition: 1s;

        &:hover {
            transform: scale(.9, .9);
        }
    }
}

.proyectos {
    h1 {
        @include estilo-texto("Career", none, auto,  rgb(88, 52, 132), center, 200%);
        display: flex;
        flex-direction: column-reverse;
        justify-self: center;
    }
    .youtube {
        @include width-height(500px, 500px);
    
        .imagen-youtube {
            @extend .estilo-proyectos-imagenes;

            &:hover {
                transform: scale(.9, .9);
            }
        } 
    }
    .texto-youtube h2 {
        @include estilo-texto("Inter Medium", bold, 5%,  $ColorTextoProyectos, left, 150%);
            text-align: justify;
            margin-bottom: 10%;
    }
    .spotify {
        @include width-height(500px, 500px);
    
        .imagen-spotify {
            @extend .estilo-proyectos-imagenes;

            &:hover {
                transform: scale(.9, .9);
            }
        } 
    }
    .texto-spotify h2 {
        @include estilo-texto("Inter Medium", bold, 5%,  $ColorTextoProyectos, right, 150%);
        width: 100%;   
    }
}

.sobre-mi {

    h1 {
        @include estilo-texto("Career", none, auto, $colorPurple, center, 180%);
    }
    h3 {
        @extend h1;
        
    }
    .sobre-mi-descripcion{

        h3 {
            @include estilo-texto("Inter Medium", bold, 5%, $colorPurpleSobreMi, center, 150%);
            text-align: justify;
            margin-bottom: 5%;
            
        }

        .lista-estudios {

            ul {
            text-align: left;
            color:$colorPurpleSobreMi;

                li {
                text-align: left;
                font-size: 115%;
                }
            }

            .nested-list {

                    li {
                    font-size: 90%;
                    text-align: justify;
                    }
            }
        }  
    }
            
    .agenda-cita {
        display: flex;
        flex-direction: column;
    }  
}

.pagina-citas{

    #titulo-citas h1 {
        @include estilo-texto("Career", none, auto, $colorDarkPurple, center, 200%);
    }

    .formulario {
        @include estilo-texto("Career", none, 5%,  rgb(112, 43, 146), center, 130%);
        margin-bottom: 5%;

        h2{
            display: flex;
            flex-direction: column;
            align-self: center;
        }

    
        span.taller {
            font-family: "Inter";
            font-size: 80%;
            align-self: center;
            
        }
        
        span.tradicional {
            @extend span, .taller;

            

        }

        .agenda-cita {
            @extend .button;    

            &:hover {
                transform: scale(.9, .9);
            }
        }
        
        #horario {
            @include estilo-texto("Inter", none, auto, $colorBackgroundDark, center, 100%);
            background-color:rgb(245, 243, 248);
            padding: 10px 32px;
            text-decoration: none;
            display: inline-block;
            cursor: pointer;
        }

        #mensaje {
            @include width-height(200px, 100px);
        } 
    }  
}
    
@media (max-width: 770px){
.proyectos {
    .texto-youtube {
        width: 100%;
        height: 100%;
    }
    .texto-spotify {
    width: 100%;
    height: 100%;
    text-align: left;
    }
}
}

@media (max-width: 1200px){
    .proyectos {
        .texto-youtube {
            width: 100%;
            height: 100%;
        }
        .texto-spotify {
        width: 100%;
        height: 100%;
        text-align: left;
        }
    }
    }