@import "fonts";

@import "colors";

@import "mixins";

@import "styletemplates";

body {
    background-image: linear-gradient(#ffffffb3,#F5EDF0, #D1CCDC, $colorBackgroundDark);
}


header {
    display: grid;
    position: sticky;
    top: 0px;
    z-index: 1;
    width: 100%;  
    background-color: $colorBackgroundLight;

    nav a:hover{
        color: $colorLightPurple;
    }

    ul {
        list-style-type: none;
        padding: 30px;
        font-size: 18px;
        text-align: right;
    }

    nav li {
        display: inline;
    }

    li a {
        padding: 8px;
        color: $colorPurple;
        font-weight: bold;
        font-family: "Inter";
    }

    a {

        text-decoration: none;
        color: $colorDarkPurple;
        font-family: "Inter";
    
    }

}

footer {
    color: $colorPurple;
    background-color: rgb(209, 203, 220);
    @include border-radius(25px);

    .contacto-footer{

        h3 {
            @include estilo-texto("Inter", bold, 5%, $colorPurple, left, 125%);
        }

        h4 {
            @include estilo-texto("Inter", none, 0%, $colorDarkPurple, left, 115%);
            margin: 0%;
            
            a {
                @include estilo-texto("Inter", none, 0%, $colorDarkPurple, left, 90%);
                text-decoration: none;
            }
        }
    }
    .lista-footer {

        ul {
            margin-top: 5%;
            margin-bottom: 5%;
            text-align: right;


            li {
            display: inline;

                a{
                    text-decoration: none;
                }
            }
        }

        img {

            width: 8%;

        } 

        #imagen-youtube-footer {

            width: 7%;

        }
        #imagen-spotify-footer {

            width: 7.5%;

        }
    }
}

.inicio {

    .col-md-5 .img-fluid {
        margin: auto;    
        display: block;
        width: 70%;
        @include border-radius(25px);

    }
    
    #titulo-inicio h1 {
        @include estilo-texto("Career", bold, 5%, $colorPurple, left, 225%);
    }

    .subtitulo {
        @include estilo-texto("Career", bold, 0%, $colorPurple, left, 125%);
    }

    .descripcion {
        margin-top: 5%;
        margin-bottom: 5%;

        h3 {
        @include estilo-texto("Inter Medium", bold, none, rgb(72, 60, 105), left, auto);
        text-align: justify;
        }
    }

}

.seccion1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin-top: 10px;

    #terapiaimagen {
        align-self: end;
        justify-self: end;
        width: 90%;
        margin-top: 10%;
        @include border-radius(25px);
    }
    
}

.descripcion {
    #servicios { 

        margin-top: 10%;
        margin-bottom: 10%;

        h1 {
        @include estilo-texto("Inter", none, auto, $colorPurple , left, 180%);
        }
        
        h3 {
            @include estilo-texto("Inter Medium", bold, none,rgb(113, 106, 130) , left, 150%);
            text-align: justify;
        }

        h4 {
            @include estilo-texto("Inter Regular", bold, none, rgb(67, 39, 105) , right, 125%);
        }
    }

}

.agenda-cita {

    display: flex;
    flex-direction: column;
    justify-self: center;
    
    .button {

        background-color:#D1CCDC;
        color:$colorBackgroundDark;
        padding: 10px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        font-family: "Inter";
        @include border-radius(7px);
        
    }
}

.proyectos {

    h1 {
        display: flex;
        flex-direction: column-reverse;
        justify-self: center;
        text-align: center;
        color: rgb(88, 52, 132);
        font-family:"Career";
        font-size: 200%;
    }

    .youtube {
        @extend .estilo-proyectos;
    
        .imagen-youtube {
            @extend .estilo-proyectos-imagenes;

            &:hover {
                transform: scale(.9, .9);
            }
        } 
    }

    .texto-youtube h2 {
            margin-top: 5%;
            color: #716A82;
            text-align: left;
            text-align: justify;
            font-weight: bold;
            font-family: "Inter Medium";
            margin-bottom: 10%;
            font-size: 150%;
    }

    .spotify {
        @extend .estilo-proyectos;
    
        .imagen-spotify {
            @extend .estilo-proyectos-imagenes;

            &:hover {
                transform: scale(.9, .9);
            }
        } 
    }

    .texto-spotify h2 {
        margin-top: 5%;
        color: #716A82;
        text-align: right;
        font-weight: bold;
        font-family: "Inter Medium";
        font-size: 150%;
        width: 500px;
    
    }
}

.sobre-mi {

    h1 {
        @include estilo-texto("Career", none, auto, $colorPurple, center, 180%);
    }
    h3 {
        @extend h1;
        
    }
    .sobre-mi-descripcion{

        h3 {
            @include estilo-texto("Inter Medium", bold, 5%, $colorPurpleSobreMi, center, 150%);
            text-align: justify;
            margin-bottom: 5%;
            
        }

        .lista-estudios {

            ul {
            text-align: left;
            color:$colorPurpleSobreMi;

                li {
                text-align: left;
                font-size: 115%;
                }
            }

            .nested-list {

                    li {
                    font-size: 90%;
                    text-align: justify;
                    }
            }
        }  
    }
            
    .agenda-cita {
        display: flex;
        flex-direction: column;
    }  
}

.pagina-citas{

    #titulo-citas h1 {
        color: $colorDarkPurple;
        font-family:"Career";
        font-size: 200%;
        text-align: center;
    }

    .formulario {
        text-align: center;
        font-family:"Career";
        font-size: 130%;
        color: #702b92;
        margin-bottom: 5%;

        h2{
            display: flex;
            flex-direction: column;
            align-self: center;
        }

        span.taller {
            font-family: "Inter";
            font-size: 80%;
            background-color: white;
            @include border-radius(5px);
            align-self: center;
        }
        
        span.tradicional {
            @extend span, .taller;
        }

        #agendar {
            @extend .button    
        }
        
        #horario {
            background-color:rgb(245, 243, 248);
            color: $colorBackgroundDark;
            padding: 10px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            cursor: pointer;
            font-family:"Inter";
        }

        #mensaje {
            height: 100px;
            width: 200px;
        } 
    } 
    
}
    
